* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
}

.grid-wrapper {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

.grid .lane {
  display: flex;
  justify-content: center;
}

.grid .cell {
  border: 1px solid lightgrey;
  width: 60px;
  height: 60px;
}

.grid .cell.foxy {
  background-image: url(/Images/fox.gif);
  background-repeat: no-repeat;
  background-size: contain;
}

.grid .cell.foxyWinner {
  background-image: url(/Images/fox.gif);
  background-repeat: no-repeat;
  background-size: contain;
}

.grid #lane-1 .obstacle {
  background-image: url(/Images/bluewave2.gif);
  background-repeat: no-repeat;
  background-size: contain;
}
.grid #lane-2 .obstacle {
  background-image: url(/Images/arrow-right.gif);
  background-repeat: no-repeat;
  background-size: contain;
}
.grid #lane-3 .obstacle {
  background-image: url(/Images/bicycle.gif);
  background-repeat: no-repeat;
  background-size: contain;
}
.grid #lane-4 .obstacle {
  background-image: url(/Images/bicycle.gif);
  background-repeat: no-repeat;
  background-size: contain;
}
.grid #lane-7 .obstacle {
  background-image: url(/Images/bicycle.gif);
  background-repeat: no-repeat;
  background-size: contain;
}
.grid #lane-8 .obstacle {
  background-image: url(/Images/arrow-right.gif);
  background-repeat: no-repeat;
  background-size: contain;
}

.grid #lane-9 .obstacle {
  background-image: url(/Images/bicycle.gif);
  background-repeat: no-repeat;
  background-size: contain;
}
.grid #lane-10 .obstacle {
  background-image: url(/Images/bicycle.gif);
  background-repeat: no-repeat;
  background-size: contain;
}
.grid #lane-11 .obstacle {
  background-image: url(/Images/bicycle.gif);
  background-repeat: no-repeat;
  background-size: contain;
}

.grid #clash {
  background-image: url(/Images/meow_dead.png) !important;
  background-repeat: no-repeat;
  background-size: contain;
}

.grid .cell.goal {
  border: 1px solid rgb(4, 207, 14);
  background-color: rgb(4, 207, 14, 0.5);
}
