@import url("https://fonts.googleapis.com/css2?family=Monda:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  font-family: "Monda", sans-serif;
  background-color: #d77b3f;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px 30px 20px 30px;
}

button {
  font-family: "Monda", sans-serif;
  font-size: 20px;
}

a {
  color: black;
}

.main-section {
  display: flex;
}

.controls-wrapper {
  margin-left: 30px;
  margin-right: 20px;
}

.grid-wrapper {
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.difficulty-wrapper {
  font-size: 20px;
}
#unhinged-div {
  display: none;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  cursor: pointer;
}

.grid {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  border: 2px solid #d77b3f;
  position: relative;
}

.grid .lane {
  display: flex;
}

.grid .cell {
  width: 50px;
  height: 50px;
}

.grid .obstacle {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.grid .cell.player {
  background-image: url(../Images/player_fox_pixel.gif);
  background-repeat: no-repeat;
  background-size: contain;
}
.grid #lane-0 {
  background-image: url(../Images/green.png);
  background-size: contain;
}
.grid #lane-1 {
  background-image: url(../Images/log.png), url(../Images/gras_water_2.png);
  background-size: contain;
}
.grid #lane-2 {
  background-image: url(../Images/log.png), url(../Images/water.png);
  background-size: contain;
}

.grid #lane-3 {
  background-image: url(../Images/lilypad2.png), url(../Images/water.png);
  background-size: contain;
  background-position: bottom;
}

.grid #lane-4 {
  background-image: url(../Images/gras_water.png);
  background-size: contain;
}
.grid #lane-5 {
  background-image: url(../Images/green.png);
  background-size: contain;
}
.grid #lane-6 {
  background-image: url(../Images/green.png);
  background-size: contain;
}

.grid #lane-7 {
  background-image: url(../Images/street_gutter.png);
  background-size: contain;
}
.grid #lane-8 {
  background-image: url(../Images/street_yellow_line.png);
  background-size: contain;
}
.grid #lane-9 {
  background-image: url(../Images/street.png);
  background-size: contain;
}
.grid #lane-10 {
  background-image: url(../Images/pavement.png);
  background-size: contain;
}
.grid #lane-11 {
  background-image: url(../Images/green.png);
  background-size: contain;
}
.grid #lane-1 .obstacle {
  background-image: url(../Images/water_wave.gif),
    url(../Images/gras_water_2.png);
  background-position: bottom;
}
.grid #lane-2 .obstacle {
  background-image: url(../Images/water_wave.gif), url(../Images/water.png);
  background-position: bottom;
}
.grid #lane-3 .obstacle {
  background-image: url(../Images/water_wave.gif), url(../Images/water.png);
  background-position: bottom;
}
.grid #lane-4 .obstacle {
  background-image: url(../Images/jogger_pixel.gif);
}

.grid #lane-6 .blocked-cells {
  background-image: url(../Images/bush.png);
  background-repeat: no-repeat;
}
.grid #lane-7 .obstacle {
  background-image: url(../Images/doubledecker_pixel.gif);
}

.grid #lane-8 .obstacle {
  background-image: url(../Images/mini_pixel.gif);
}

.grid #lane-9 .obstacle {
  background-image: url(../Images/pixelbike.gif);
}
.grid #lane-10 .obstacle {
  background-image: url(../Images/scooter_pixel.gif);
}
.grid #lane-11 .obstacle {
  background-image: url(../Images/bicycle.gif);
}

.grid #clash {
  background-image: url(../Images/blobfox_angrylaugh.png) !important;
}

.grid .cell.goal {
  /* border: 1px solid lightgrey; */
  background-image: url(../Images/nest.png);
  background-size: contain;
}

#lane-0 .blocked-cells {
  background-image: url(../Images/bush.png);
  background-size: contain;
}

.grid .cell.goal.playerInGoal {
  background-image: url(../Images/sleepingfox.gif), url(../Images/nest.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  right: 0px;
  bottom: 0px;
  background-color: rgba(27, 53, 32, 0.8);
  z-index: 2;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.overlay#overlay-game-start {
  display: flex;
}

.overlay#overlay-game-end {
  display: none;
}
.overlay#overlay-settings {
  display: none;
}

#overlay-settings .overlay-content {
  display: block;
}

.overlay-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 50%;
  padding: 25px;
  background: rgba(315, 123, 63, 0.8);
  border-radius: 6px;
}

#overlay-content-game-end {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
