@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;600&family=VT323&display=swap');

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  font-family: 'VT323', monospace;
  font-family: 'Be Vietnam Pro', sans-serif;
  background-color: #d77b3f;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px 30px;
}

button {
  font-family: 'Be Vietnam Pro', sans-serif;
  font-size: 20px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
  cursor: pointer;
}

.top-section {
  display: flex;
align-items: baseline;
}
.instructions {
  margin: 15px 30px;
  width: 50%;
}



.difficulty-wrapper {
  font-size: 20px;
}
.grid-wrapper {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  border: 2px solid #d77b3f;
}

.grid .lane {
  display: flex;
  justify-content: center;
}

.grid .cell {
  /* border: 1px solid lightgrey; */
  width: 60px;
  height: 60px;
}

.grid .obstacle {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.grid .cell.foxy {
  background-image: url(../images/lil_fox.gif);
  background-repeat: no-repeat;
  background-size: contain;
}
.grid #lane-0 {
  background-image: url(../images/green.png);
  background-size: contain;
}
.grid #lane-1 {
  background-image: url(../images/boat_pixel.png), url(../images/gras_water_2.png);
  background-size: contain;
}
.grid #lane-2 {
  background-image: url(../images/log.png), url(../images/water.png);
  background-size: contain;
}

.grid #lane-3 {
  background-image: url(../images/lilypad2.png), url(../images/water.png) ;
  background-size: contain;
  background-position: bottom;
}

.grid #lane-4 {
  background-image: url(../images/gras_water.png);
  background-size: contain;
}
.grid #lane-5 {
  background-image: url(../images/green.png);
  background-size: contain;
}
.grid #lane-6 {
  background-image: url(../images/green.png);
  background-size: contain;
}

.grid #lane-7 {
  background-image: url(../images/street_gutter.png);
  background-size: contain;
}
.grid #lane-8 {
  background-image: url(../images/street_yellow_line.png);
  background-size: contain;
}
.grid #lane-9 {
  background-image: url(../images/street.png);
  background-size: contain;
}
.grid #lane-10 {
  background-image: url(../images/pavement.png);
  background-size: contain;
}
.grid #lane-11 {
  background-image: url(../images/green.png);
  background-size: contain;
}
.grid #lane-1 .obstacle {
  background-image: url(../images/water_wave.gif);
  background-position: bottom;
}
.grid #lane-2 .obstacle {
  background-image: url(../images/water_wave.gif), url(../images/water.png);
  background-position: bottom;
}
.grid #lane-3 .obstacle {
  background-image: url(../images/water_wave.gif), url(../images/water.png);
  background-position: bottom;
}
.grid #lane-4 .obstacle {
  background-image: url(../images/jogger.gif);
}

.grid #lane-6 .blocked-cells {
  background-image: url(../images/bush.png);
  background-repeat: no-repeat;
}
.grid #lane-7 .obstacle {
  background-image: url(../images/doubledecker1.gif);
}

.grid #lane-8 .obstacle {
  background-image: url(../images/cartoright.gif);
}

.grid #lane-9 .obstacle {
  background-image: url(../images/pixelbike.gif);
}
.grid #lane-10 .obstacle {
  background-image: url(../images/scootertoleft.gif);
}
.grid #lane-11 .obstacle {
  background-image: url(../images/bicycle.gif);
}

.grid #clash {
  background-image: url(../images/blobfox_angrylaugh.png) !important;
}

.grid .cell.goal {
  /* border: 1px solid lightgrey; */
  background-image: url(../images/nest.png);
  background-size: contain;
}

#lane-0 .blocked-cells {
  background-image: url(../images/bush.png);
  background-size: contain;
}

.grid .cell.goal.foxyWinner {
  background-image: url(../images/sleepingfox.gif), url(../images/nest.png);
  background-repeat: no-repeat;
  background-size: contain;
}

#overlay-game-end {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0%;
  left: 0%;
  right: 0px;
  bottom: 0px;
  background-color: rgba(27, 53, 32, 0.8); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#overlay-settings {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0%;
  left: 0%;
  right: 0px;
  bottom: 0px;
  background-color: rgba(27, 53, 32, 0.8); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overlay-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
  background:rgba(255,255,255, 0.8);
  border-radius: 6px;
}
#overlay-content-game-end {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .overlay-div {} */
